In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver = webdriver.Chrome("chromedriver.exe")

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
#### This task will be done in following steps:
#### 1. First get the webpage https://www.naukri.com/
#### 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
#### 3. Then click the search button.
#### 4. Then scrape the data for the first 10 jobs results you get.
#### 5. Finally create a dataframe of the scraped data.

url = "https://www.naukri.com/"
driver.get(url)

In [8]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [9]:
search_job.send_keys("Data analyst")

In [13]:
search_loc = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")
search_loc

In [14]:
search_loc.send_keys("Bangalore")

In [15]:
search_btn = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_btn

In [16]:
search_btn.click()

In [21]:
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)

20

In [23]:
job_titles = []

for i in job_title:
    job_titles.append(i.text)
    
len(job_titles)

20

In [24]:
job_loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(job_loc)

20

In [25]:
job_location = []

for i in job_loc:
    job_location.append(i.text)
    
len(job_location)

20

In [26]:
comp_name = driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]')
len(comp_name)

20

In [32]:
company_names = []

for i in comp_name:
    company_names.append(i.text.replace('\n',''))
    
len(company_names)

20

In [28]:
exp_req = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_req)

20

In [29]:
experience_req = []

for i in exp_req:
    experience_req.append(i.text)
    
len(experience_req)

20

In [33]:
df = pd.DataFrame({'Job Title':job_titles,'Location':job_location,'Company Name':company_names,'Experience Required':experience_req})
df

,Job Title,Location,Company Name,Experience Required
0,BUSINESS ANALYST -DATA SCIENCE-CONSUMER,Bangalore/Bengaluru,BRIDGEi2i Analytics Solutions Private Limited3...,0-2 Yrs
1,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
2,Data Analyst,Bangalore/Bengaluru,Jeeva Organic4.6(6 Reviews),3-8 Yrs
3,Senior Data Analyst - Supporting Audits,Bangalore/Bengaluru,Visa3.8(39 Reviews),5-8 Yrs
4,Data Analyst,Bengaluru/Bangalore,Flipkart4.2(4047 Reviews),1-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs
6,Senior Data Analyst - KPO,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,7-12 Yrs
7,Data Analyst,Bangalore/Bengaluru,Snaphunt,0-2 Yrs
8,Financial Data Analyst,Bangalore/Bengaluru,Moody's3.5(55 Reviews),0-2 Yrs
9,Tcs Hiring For Data Analyst / Engineers,"Pune, Bangalore/Bengaluru, Delhi / NCR",TCS3.9(26997 Reviews),4-9 Yrs
10,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
11,Lead Data Analyst,Bangalore/Bengaluru,Nike India4.4(86 Reviews),1-6 Yrs
12,Data Analyst,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Venuestring Events Management Pvt Ltd,1-2 Yrs
13,Financial Data Analyst,Bangalore/Bengaluru,Moody's3.5(55 Reviews),0-2 Yrs
14,Data Analyst,Bangalore/Bengaluru(Ulsoor),WEIWO Communication Pvt. Ltd.4.1(30 Reviews),2-7 Yrs
15,Senior Data Analyst - KPO,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,7-12 Yrs
16,Senior Data Analyst,Bengaluru/Bangalore,Flipkart4.2(4047 Reviews),2-3 Yrs
17,Senior Data Analyst II,Bengaluru/Bangalore,Flipkart4.2(4047 Reviews),3-7 Yrs
18,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart4.2(4047 Reviews),5-7 Yrs
19,Senior Data Analyst,Bangalore/Bengaluru,Glance,1-6 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
#### This task will be done in following steps:
#### 1. First get the webpage https://www.naukri.com/
#### 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
#### 3. Then click the search button.
#### 4. Then scrape the data for the first 10 jobs results you get.
#### 5. Finally create a dataframe of the scraped data.

In [42]:
url = "https://www.naukri.com/"
driver.get(url)

In [45]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [46]:
search_job.send_keys("Data Scientist")

In [48]:
search_loc = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")
search_loc

In [49]:
search_loc.send_keys("Bangalore")

In [50]:
search_btn = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_btn

In [51]:
search_btn.click()

In [54]:
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)

20

In [56]:
job_titles = []

for i in job_title:
    job_titles.append(i.text)
    
job_titles[:10]

['Lead/Senior Data Scientist (NLP)',
 'Lead Data Scientist - Prescriptive Analytics/Predictive Modeling',
 'Lead Data Scientist - NLP/OpenCV',
 'Senior Data Scientist - Logistics',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Lead - Data Analyst / Scientist',
 'Data Scientist - Logistics',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [57]:
job_loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(job_loc)

20

In [59]:
job_location = []

for i in job_loc:
    job_location.append(i.text.replace('\n',''))
    
job_location[:10]

['Bangalore/Bengaluru(WFH during Covid)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [60]:
comp_name = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(comp_name)

20

In [62]:
company_name = []

for i in comp_name:
    company_name.append(i.text)
    
company_name[:10]

['Samya.AI A FRACTAL Entity',
 'Codersbrain',
 'Codersbrain',
 'Gojek Tech',
 'Fractal Analytics',
 'First American',
 'Axim Technologies',
 'GO-JEK India',
 'Idexcel Technologies Private Limited',
 'Idexcel Technologies Private Limited']

In [64]:
df = pd.DataFrame({'Job Title':job_titles[:10],'Location':job_location[:10],'Company Name':company_name[:10]})
df

,Job Title,Location,Company Name
0,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru(WFH during Covid),Samya.AI A FRACTAL Entity
1,Lead Data Scientist - Prescriptive Analytics/P...,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
2,Lead Data Scientist - NLP/OpenCV,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Codersbrain
3,Senior Data Scientist - Logistics,Bangalore/Bengaluru,Gojek Tech
4,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics
5,Lead Data Scientist,Bangalore/Bengaluru,First American
6,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies
7,Data Scientist - Logistics,Bangalore/Bengaluru,GO-JEK India
8,Senior Data Scientist,Bangalore/Bengaluru,Idexcel Technologies Private Limited
9,Senior Data Scientist,Bangalore/Bengaluru,Idexcel Technologies Private Limited

#### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
#### You have to use the location and salary filter.
#### You have to scrape data for “Data Scientist” designation for first 10 job results.
#### You have to scrape the job-title, job-location, company name, experience required.
#### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
#### The task will be done as shown in the below steps:
#### 1. first get the webpage https://www.naukri.com/
#### 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
#### 3. Then click the search button.
#### 4. Then apply the location filter and salary filter by checking the respective boxes
#### 5. Then scrape the data for the first 10 jobs results you get.
#### 6. Finally create a dataframe of the scraped data.

In [66]:
url = "https://www.naukri.com/"
driver.get(url)

In [67]:
search_title = driver.find_element_by_id("qsb-keyword-sugg")
search_title

In [68]:
search_title.send_keys("Data Scientist")

In [73]:
search_btn = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_btn

In [74]:
search_btn.click()

In [77]:
loc_search = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p")

In [78]:
loc_search.click()

In [79]:
salary_search = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]")

In [80]:
salary_search.click()

In [81]:
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)

20

In [82]:
job_titles = []

for i in job_title:
    job_titles.append(i.text)
    
len(job_titles)

20

In [83]:
location_search = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_search)

20

In [86]:
job_location = []

for i in location_search:
    job_location.append(i.text)
    
len(job_location)

20

In [87]:
comp_name = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(comp_name)

20

In [88]:
company_name = []

for i in comp_name:
    company_name.append(i.text)
    
len(company_name)

20

In [92]:
exp_req = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_req)

20

In [93]:
experience_req = []

for i in exp_req:
    experience_req.append(i.text)
    
len(experience_req)

20

In [95]:
df = pd.DataFrame({'Job Title':job_titles[:10],'Location':job_location[:10],'Company Name':company_name[:10],'Experience Required':experience_req[:10]})
df

,Job Title,Location,Company Name,Experience Required
0,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
1,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
2,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
3,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
4,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
5,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
6,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
7,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
8,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
9,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG,0-2 Yrs

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#### 1. Brand
#### 2. Product Description
#### 3. Price
#### To scrape the data you have to go through following steps:
#### 1. Go to Flipkart webpage by url : https://www.flipkart.com/
#### 2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon
#### 3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual.
#### 4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.
#### 5. Now scrape data from this page as usual
#### 6. Repeat this until you get data for 100 sunglasses.

In [3]:
url = "https://www.flipkart.com/"
driver.get(url)

In [12]:
search_title = driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input')
search_title

In [13]:
search_title.send_keys("sunglasses")

In [16]:
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn

In [17]:
search_btn.click()

In [21]:
product_name1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(product_name1)

40

In [22]:
product_descp1 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(product_descp1)

40

In [23]:
price1 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price1)

40

In [24]:
discount1 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(discount1)

40

In [27]:
product_names1 = []
product_descps1 = []
prices1 = []
discounts1 = []

for i in product_name1:
    product_names1.append(i.text)
    
for i in product_descp1:
    product_descps1.append(i.text)
    
for i in price1:
    prices1.append(i.text)
    
for i in discount1:
    discounts1.append(i.text)

In [28]:
df = pd.DataFrame({'Product Name':product_names1,'Description':product_descps1,'Price':prices1,'Discount':discounts1})
df

,Product Name,Description,Price,Discount
0,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999,50% off
1,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (...,₹999,50% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
3,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹149,90% off
5,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
6,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹383,80% off
7,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999,60% off
8,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165,90% off
9,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹262,83% off
10,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹271,84% off
11,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹999,50% off
12,PIRASO,UV Protection Aviator Sunglasses (54),₹149,90% off
13,kingsunglasses,UV Protection Round Sunglasses (54),₹189,82% off
14,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259,87% off
15,ROZZETTA CRAFT,Gradient Round Sunglasses (Free Size),₹426,88% off
16,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹189,84% off
17,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,089",16% off
18,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309,84% off
19,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999,60% off
20,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹348,84% off
21,PIRASO,UV Protection Wayfarer Sunglasses (32),₹190,88% off
22,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹181,81% off
23,Rich Club,UV Protection Cat-eye Sunglasses (48),₹232,66% off
24,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
25,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹449,70% off
26,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹474,78% off
27,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹999,50% off
28,Fastrack,UV Protection Shield Sunglasses (Free Size),₹789,12% off
29,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹276,86% off
30,agera,Gradient Aviator Sunglasses (55),₹196,82% off
31,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹426,84% off
32,PIRASO,UV Protection Aviator Sunglasses (54),₹149,90% off
33,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276,88% off
34,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹287,85% off
35,Anemone,"UV Protection, Others Rectangular Sunglasses (50)",₹499,75% off
36,Rich Club,Polarized Round Sunglasses (48),₹165,66% off
37,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹156,86% off
38,Elligator,UV Protection Round Sunglasses (53),₹179,88% off
39,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999,50% off

In [29]:
next_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_button

In [30]:
next_button.click()

In [31]:
product_name2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(product_name2)

40

In [33]:
product_descp2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(product_descp2)

40

In [34]:
price2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price2)

40

In [36]:
discount2 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(discount2)

40

In [37]:
product_names2 = []
product_descps2 = []
prices2 = []
discounts2 = []

for i in product_name2:
    product_names2.append(i.text)
    
for i in product_descp2:
    product_descps2.append(i.text)
    
for i in price2:
    prices2.append(i.text)
    
for i in discount2:
    discounts2.append(i.text)

In [38]:
df1 = pd.DataFrame({'Product Name':product_names2,'Description':product_descps2,'Price':prices2,'Discount':discounts2})
df1

,Product Name,Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (58),₹299,88% off
1,ROYAL SON,Mirrored Aviator Sunglasses (55),₹359,76% off
2,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹289,81% off
3,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999,50% off
4,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹599,80% off
5,hipe,"Mirrored, Gradient, UV Protection Aviator Sung...",₹178,85% off
6,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299,85% off
7,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (...,₹999,50% off
8,Elligator,UV Protection Round Sunglasses (54),₹265,79% off
9,Rich Club,UV Protection Round Sunglasses (48),₹250,68% off
10,Singco India,"Riding Glasses, UV Protection, Others Aviator ...",₹201,86% off
11,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999,60% off
12,ROYAL SON,Mirrored Aviator Sunglasses (55),₹359,76% off
13,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246,83% off
14,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹229,80% off
15,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹999,50% off
16,PIRASO,UV Protection Butterfly Sunglasses (65),₹349,86% off
17,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹203,70% off
18,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹659,17% off
19,LOUIS KOUROS,UV Protection Round Sunglasses (Free Size),"₹1,899",73% off
20,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹639,20% off
21,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹243,81% off
22,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹615,23% off
23,ROZZETTA CRAFT,Gradient Round Sunglasses (Free Size),₹426,88% off
24,Rich Club,UV Protection Round Sunglasses (50),₹355,64% off
25,ROYAL SON,Mirrored Aviator Sunglasses (58),₹359,76% off
26,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹209,88% off
27,Rich Club,UV Protection Cat-eye Sunglasses (48),₹232,66% off
28,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹426,84% off
29,Elligator,"UV Protection Retro Square, Round Sunglasses (54)",₹291,85% off
30,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹360,81% off
31,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999,60% off
32,Fastrack,UV Protection Wayfarer Sunglasses (55),₹549,31% off
33,Rich Club,Polarized Round Sunglasses (48),₹163,67% off
34,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹209,79% off
35,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹474,78% off
36,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹276,78% off
37,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹449,70% off
38,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹359,76% off
39,Anemone,"UV Protection, Others Rectangular Sunglasses (50)",₹499,75% off

In [39]:
next_button1 = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")

In [40]:
next_button.click()

In [41]:
product_name3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(product_name3)

40

In [42]:
product_descp3 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(product_descp3)

40

In [43]:
price3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price3)

40

In [44]:
discount3 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(discount3)

39

In [45]:
product_names3 = []
product_descps3 = []
prices3 = []
discounts3 = []

for i in product_name3:
    product_names3.append(i.text)
    
for i in product_descp3:
    product_descps3.append(i.text)
    
for i in price3:
    prices3.append(i.text)
    
for i in discount3:
    discounts3.append(i.text)

In [49]:
df2 = pd.DataFrame({'Product Name':product_names3[:20],'Description':product_descps3[:20],'Price':prices3[:20],'Discount':discounts3[:20]})
df2

,Product Name,Description,Price,Discount
0,kingsunglasses,"UV Protection, Night Vision Wayfarer Sunglasse...",₹273,83% off
1,Lee Topper,"UV Protection, Riding Glasses Retro Square, Sp...",₹375,71% off
2,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299,85% off
3,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999,50% off
4,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹258,80% off
5,GANSTA,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹296,85% off
6,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹359,76% off
7,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (...,₹999,50% off
8,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹261,83% off
9,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (54)",₹211,82% off
10,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹235,87% off
11,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999,60% off
12,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹426,80% off
13,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)",₹211,83% off
14,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹360,75% off
15,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹999,50% off
16,Urbanic,Others Oval Sunglasses (Free Size),₹699,29% off
17,Elligator,UV Protection Round Sunglasses (55),₹239,88% off
18,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349,82% off
19,Rich Club,UV Protection Round Sunglasses (48),₹250,68% off

In [50]:
main_list = pd.concat([df,df1,df2],axis=0)
main_list

,Product Name,Description,Price,Discount
0,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999,50% off
1,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (...,₹999,50% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
3,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹149,90% off
...,...,...,...,...
15,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹999,50% off
16,Urbanic,Others Oval Sunglasses (Free Size),₹699,29% off
17,Elligator,UV Protection Round Sunglasses (55),₹239,88% off
18,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349,82% off
19,Rich Club,UV Protection Round Sunglasses (48),₹250,68% off

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
#### https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
#### As shown in the above page you have to scrape the tick marked attributes.These are:
#### 1. Rating
#### 2. Review summary
#### 3. Full review
#### 4. You have to scrape this data for first 100 reviews

In [17]:
url = "https://www.flipkart.com/apple-iphone-11-green-64-gb-includes-earpods-power-adapter/p/itmfdb5266c6e904?pid=MOBFKCTSKZQCYCWE&lid=LSTMOBFKCTSKZQCYCWEVUJMID&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=SEARCH&iid=d20359e2-9fc9-4faa-8a9e-c1e3e474b14d.MOBFKCTSKZQCYCWE.SEARCH&ppt=hp&ppn=homepage&ssid=cl1razkdfk0000001642010965835&qH=f6cdfdaa9f3c23f3"
driver.get(url)

In [18]:
all_review = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')

In [19]:
all_review.click()

In [26]:
rating1 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating1)

10

In [21]:
review_sum1 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_sum1)

10

In [22]:
full_review1 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review1)

10

In [29]:
ratings_1 = []
reviews_sum1 = []
full_reviews1 = []

for i in rating1:
    ratings_1.append(i.text)
    
for i in review_sum1:
    reviews_sum1.append(i.text)
    
for i in full_review1:
    full_reviews1.append(i.text.replace('\n',''))

In [30]:
df = pd.DataFrame({'Rating':ratings_1,'Review Summary':reviews_sum1,'Full review':full_reviews1})
df

,Rating,Review Summary,Full review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
6,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Highly recommended,What a camera .....just awesome ..you can feel...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

In [31]:
next_btn = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')

In [32]:
next_btn.click()

In [34]:
rating2 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating2)

10

In [35]:
review_sum2 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_sum2)

10

In [36]:
full_review2 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review2)

10

In [37]:
ratings_2 = []
reviews_sum2 = []
full_reviews2 = []

for i in rating2:
    ratings_2.append(i.text)
    
for i in review_sum2:
    reviews_sum2.append(i.text)
    
for i in full_review2:
    full_reviews2.append(i.text.replace('\n',''))

In [39]:
df1 = pd.DataFrame({'Rating':ratings_2,'Review Summary':reviews_sum2,'Full review':full_reviews2})
df1

,Rating,Review Summary,Full review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
3,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
5,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
6,5,Classy product,Totally in love with this ❤ the camera quality...
7,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
8,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
9,5,Worth every penny,It’s been almost a month since I have been usi...

In [56]:
next_btn1 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[4]')
next_btn1.click()

In [57]:
rating3 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating3)

10

In [58]:
review_sum3 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_sum3)

10

In [59]:
full_review3 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review3)

10

In [60]:
ratings_3 = []
reviews_sum3 = []
full_reviews3 = []

for i in rating3:
    ratings_3.append(i.text)
    
for i in review_sum3:
    reviews_sum3.append(i.text)
    
for i in full_review3:
    full_reviews3.append(i.text.replace('\n',''))

In [61]:
df2 = pd.DataFrame({'Rating':ratings_3,'Review Summary':reviews_sum3,'Full review':full_reviews3})
df2

  Rating    Review Summary                                        Full review
0      5         Wonderful  This is my first ever I phone. Before this I w...
1      5          Terrific  Really worth of money. i just love it. It is t...
2      4      Nice product  Awesome Phone. Slightly high price but worth. ...
3      5  Perfect product!  Battery backup is extraordinary, camera is dec...
4      5    Classy product  Superb Product !!!A big and worthy upgrade fro...
5      5         Brilliant  I have migrated from OP 7pro... and trust me, ...
6      4       Good choice  Looking so good 👍 😍 super 👌 stylish 😎 phoneCle...
7      5         Must buy!  It’s an amazing product from apple and the cam...
8      5         Wonderful  I just directly switch from iphone 6s to iphon...
9      5  Perfect product!  After 1 month use I found camera quality best ...

In [62]:
next_btn2 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[5]')
next_btn2.click()

In [63]:
rating4 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating4)

9

In [64]:
review_sum4 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_sum4)

10

In [65]:
full_review4 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review4)

10

In [68]:
ratings_4 = []
reviews_sum4 = []
full_reviews4 = []

for i in rating4:
    ratings_4.append(i.text)
    
ratings_4.insert(8,None)    
    
for i in review_sum4:
    reviews_sum4.append(i.text)
    
for i in full_review4:
    full_reviews4.append(i.text.replace('\n',''))

In [69]:
df3 = pd.DataFrame({'Rating':ratings_4,'Review Summary':reviews_sum4,'Full review':full_reviews4})
df3

,Rating,Review Summary,Full review
0,5,Simply awesome,It's very high performances devise i am like t...
1,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
2,5,Great product,Well you all know the specifications . One of ...
3,5,Terrific purchase,The built quality is not very premium.The batt...
4,5,Mind-blowing purchase,This will help you more. See if you are planni...
5,5,Excellent,Amazing camera and feel super machine I am not...
6,5,Simply awesome,Really good actually this is my first apple pr...
7,4,Good quality product,it is very good at performance. Camera is best...
8,None,Very poor,Reviewing again after 5 months. At the beginni...
9,5,Classy product,We are on apple ecosystem for almost eight yea...

In [70]:
next_btn3 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[6]')
next_btn3.click()

In [71]:
rating5 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating5)

10

In [72]:
review_sum5 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_sum5)

10

In [74]:
full_review5 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review5)

10

In [76]:
ratings_5 = []
reviews_sum5 = []
full_reviews5 = []

for i in rating5:
    ratings_5.append(i.text)    
    
for i in review_sum5:
    reviews_sum5.append(i.text)
    
for i in full_review5:
    full_reviews5.append(i.text.replace('\n',''))

In [77]:
df4 = pd.DataFrame({'Rating':ratings_5,'Review Summary':reviews_sum5,'Full review':full_reviews5})
df4

,Rating,Review Summary,Full review
0,5,Perfect product!,It is just awesome mobile for this price from ...
1,5,Must buy!,Best Apple iPhone that i have bought at a very...
2,5,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
3,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
4,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
5,5,Wonderful,Superfast delivery by Flipkart. Thanks.1. iPho...
6,5,Must buy!,I rate this product 5* as it has got amazing u...
7,5,Great product,Again back to apple iphone after a gap of 2-3 ...
8,4,Very Good,impressive super phone and best in class camer...
9,5,Classy product,Well while switching from android to iOS the f...

In [78]:
next_btn4 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[7]')
next_btn4.click()

In [79]:
rating6 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating6)

10

In [80]:
review_sum6 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_sum6)

10

In [81]:
full_review6 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review6)

10

In [82]:
ratings_6 = []
reviews_sum6 = []
full_reviews6 = []

for i in rating6:
    ratings_6.append(i.text)    
    
for i in review_sum6:
    reviews_sum6.append(i.text)
    
for i in full_review6:
    full_reviews6.append(i.text.replace('\n',''))

In [83]:
df5 = pd.DataFrame({'Rating':ratings_6,'Review Summary':reviews_sum6,'Full review':full_reviews6})
df5

  Rating     Review Summary                                        Full review
0      5   Perfect product!  In love with this iphone great performance,cam...
1      5          Just wow!  Best in class. Battery backup is good especial...
2      5            Awesome  Very excited to have this phone. This phone ha...
3      4        Pretty good  I was using Iphone 6s and also Oneplus 6t. Bot...
4      5  Terrific purchase  Its Very awesome product working and good came...
5      5            Awesome  I am using this phone for 5 days and its one o...
6      5     Classy product  Best and amazing product.....phone looks so pr...
7      5          Brilliant  Excellent camera and display touching very nic...
8      5           Terrific  I got this beast today. And I must say the pic...
9      5   Perfect product!  Awesome purchase. Amazing phone with good batt...

In [84]:
next_btn5 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[8]')
next_btn5.click()

In [85]:
rating7 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating7)

9

In [86]:
review_sum7 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_sum7)

10

In [87]:
full_review7 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review7)

10

In [88]:
ratings_7 = []
reviews_sum7 = []
full_reviews7 = []

for i in rating7:
    ratings_7.append(i.text)
    
ratings_7.insert(7,None)    
    
for i in review_sum7:
    reviews_sum7.append(i.text)
    
for i in full_review7:
    full_reviews7.append(i.text.replace('\n',''))

In [89]:
df6 = pd.DataFrame({'Rating':ratings_7,'Review Summary':reviews_sum7,'Full review':full_reviews7})
df6

,Rating,Review Summary,Full review
0,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
1,5,Terrific,Simply AwesomeI have upgraded from iPhone 7 to...
2,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
3,5,Perfect product!,Worth the money’ starting first from its perfo...
4,5,Awesome,I dreamt about this day from a long time.... G...
5,4,Value-for-money,I'm Really happy with the productDelivery was ...
6,5,Just wow!,Great iphone.I am writing this review after 2 ...
7,None,Worthless,Phone is awesome no doubt. But Camera & Displa...
8,5,Super!,Did an upgrade from 6s plus to iphone 11.Ao fa...
9,5,Excellent,It was amazing experience for me. Honestly i a...

In [91]:
next_btn6 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[7]')
next_btn6.click()

In [92]:
rating8 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating8)

9

In [93]:
review_sum8 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_sum8)

10

In [94]:
full_review8 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review8)

10

In [95]:
ratings_8 = []
reviews_sum8 = []
full_reviews8 = []

for i in rating8:
    ratings_8.append(i.text)
    
ratings_8.insert(2,None)    
    
for i in review_sum8:
    reviews_sum8.append(i.text)
    
for i in full_review8:
    full_reviews8.append(i.text.replace('\n',''))

In [96]:
df7 = pd.DataFrame({'Rating':ratings_8,'Review Summary':reviews_sum8,'Full review':full_reviews8})
df7

,Rating,Review Summary,Full review
0,5,Awesome,"Always love the apple products, upgraded from ..."
1,5,Perfect product!,Value for money5 star ratingExcellent cameraBa...
2,None,Very poor,"Please DONT buy from here,I purchased Apple iP..."
3,5,Fabulous!,awesome phone to have. it has got many smart f...
4,5,Excellent,Its a fabulous mobile look awesome performance...
5,5,Must buy!,Dear friends... I want to share my experience ...
6,4,Value-for-money,Just got this iphone 11And it is most powerful...
7,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
8,5,Brilliant,Amazing phone and on great deal I received wit...
9,5,Terrific purchase,finally an iPhone with very nice battery backu...

In [101]:
next_btn7 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[9]')
next_btn7.click()

In [102]:
rating9 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating9)

10

In [103]:
review_sum9 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_sum9)

10

In [104]:
full_review9 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review9)

10

In [105]:
ratings_9 = []
reviews_sum9 = []
full_reviews9 = []

for i in rating9:
    ratings_9.append(i.text)    
    
for i in review_sum9:
    reviews_sum9.append(i.text)
    
for i in full_review9:
    full_reviews9.append(i.text.replace('\n',''))

In [106]:
df8 = pd.DataFrame({'Rating':ratings_9,'Review Summary':reviews_sum9,'Full review':full_reviews9})
df8

,Rating,Review Summary,Full review
0,5,Worth every penny,iPhone is delivered on time. Display is great ...
1,5,Wonderful,Nice value for money good and best price I pho...
2,5,Super!,This is my first ever iPhone.And I truly don’t...
3,5,Classy product,I got this phone for good price hence 5 star f...
4,5,Must buy!,Camera is excellent just lack of telephoto mod...
5,4,Wonderful,I genuinely liked it. One of the best mobile p...
6,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."
7,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
8,5,Fabulous!,Good product nice experience with Flipkart but...
9,5,Worth every penny,Here is the thingThe only reason why you shoul...

In [108]:
next_btn8 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[10]')
next_btn8.click()

In [109]:
rating10 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating10)

10

In [110]:
review_sum10 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_sum10)

10

In [111]:
full_review10 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_review10)

10

In [112]:
ratings_10 = []
reviews_sum10 = []
full_reviews10 = []

for i in rating10:
    ratings_10.append(i.text)    
    
for i in review_sum10:
    reviews_sum10.append(i.text)
    
for i in full_review10:
    full_reviews10.append(i.text.replace('\n',''))

In [113]:
df9 = pd.DataFrame({'Rating':ratings_10,'Review Summary':reviews_sum10,'Full review':full_reviews10})
df9

,Rating,Review Summary,Full review
0,5,Excellent,Value for money product. This iphone 11 is rea...
1,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
2,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
3,4,Value-for-money,As usual a great product from Apple. but the l...
4,5,Highly recommended,"Amazing camera quality as expected, battery al..."
5,5,Excellent,🤩🤩🤩🤩🤩🤩I loved the Phone.. Every time I pick up...
6,5,Worth every penny,I upgraded from one plus 6 to iPhone 11 and it...
7,4,Really Nice,Great phone and camera and timely delivery by ...
8,5,Great product,"Great quality at not so great price, But worth..."
9,5,Mind-blowing purchase,After using more than a year of using iPhone11...

In [114]:
full_list = pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=0)
full_list

,Rating,Review Summary,Full review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
5,5,Excellent,🤩🤩🤩🤩🤩🤩I loved the Phone.. Every time I pick up...
6,5,Worth every penny,I upgraded from one plus 6 to iPhone 11 and it...
7,4,Really Nice,Great phone and camera and timely delivery by ...
8,5,Great product,"Great quality at not so great price, But worth..."
9,5,Mind-blowing purchase,After using more than a year of using iPhone11...

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
#### You have to scrape 4 attributes of each sneaker:
#### 1. Brand
#### 2. Product Description
#### 3. Price

In [3]:
url = "https://www.flipkart.com/"
driver.get(url)

In [4]:
search = driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input')

In [5]:
search.send_keys("sneakers")

In [7]:
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')

In [8]:
search_btn.click()

In [13]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand)

40

In [18]:
product_description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(product_description)

31

In [15]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price)

40

In [16]:
discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(discount)

39

In [19]:
brands1 = []
product_description1 = []
price1 = []
discount1 = []

for i in brand:
    brands1.append(i.text)
    
for i in product_description:
    product_description1.append(i.text)
    
for i in price:
    price1.append(i.text)
    
for i in discount:
    discount1.append(i.text)

In [21]:
df = pd.DataFrame({'Brand':brands1[:31],'Product Description':product_description1[:31],'Price':price1[:31],'Discount':discount1[:31]})
df

,Brand,Product Description,Price,Discount
0,Magnolia,Sneakers For Men,₹398,60% off
1,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹449,65% off
2,URBANBOX,Sneakers For Men,₹220,77% off
3,Labbin,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹499,50% off
4,Stefano Rads,"Casual , Partywear Sneakers Shoes For Men's An...",₹242,65% off
5,Extoes,Perfect Combo Sport Shoes for Running Training...,₹948,36% off
6,D-SNEAKERZ,Sneakers For Men,₹348,47% off
7,Jabra,Sneakers Sneakers For Men,₹499,61% off
8,Trendmode,White Sneaker For Men's/Boy's Sneakers For Men,₹259,74% off
9,SCATCHITE,Original Luxury Branded Fashionable Men's Casu...,₹398,60% off
10,Shoes Bank,Sneakers For Men,₹345,65% off
11,ASTEROID,411 Casual Sneakers For Men,₹499,50% off
12,HOTSTYLE,Series 7 Sneakers For Men,₹298,70% off
13,Pieds,Men's Sneakers Fashion Lightweight Running Sho...,₹449,55% off
14,Numenzo,Sports Running Shoes Sneakers For Men,₹499,75% off
15,Kraasa,Modern Trendy Shoes Sneakers For Men,₹499,50% off
16,ganpati traders,Sneakers For Men,₹189,62% off
17,Echor,White Sneaker For Men Sneakers For Men,₹499,50% off
18,BIRDE,Sneakers For Men,₹299,40% off
19,BRUTON,Glory Sneakers For Men,₹379,70% off
20,Robbie jones,Casuals Sneakers For Women,₹499,50% off
21,Arohi,Sneakers For Men,₹398,60% off
22,Numenzo,Luxury Fashionable casual sneaker shoes Sneake...,₹429,66% off
23,TR,Shark-41 Sneakers For Men,₹599,70% off
24,PUMA,Sneakers For Men,"₹2,998",60% off
25,ESSENCE,Latest Collection-1216 Stylish Casual Sports S...,₹399,42% off
26,Rzisbo,Original Luxury Branded Fashionable Men's Casu...,₹574,61% off
27,India hub,Casual Sneakers Black Shoes For Men Sneakers F...,₹499,50% off
28,Kraasa,Perfect Stylish Casual Shoes For Girls & Women...,₹499,40% off
29,Lee Won,Sneakers For Women,₹299,56% off
30,CLYMB,Sneakers For Men,₹649,31% off

In [22]:
page_2 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[2]')
page_2.click()

In [23]:
brand1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand1)

40

In [24]:
product_description1 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(product_description1)

34

In [25]:
price1 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price1)

40

In [26]:
discount1 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(discount1)

39

In [27]:
brands2 = []
product_description2 = []
price2 = []
discount2 = []

for i in brand1:
    brands2.append(i.text)
    
for i in product_description1:
    product_description2.append(i.text)
    
for i in price1:
    price2.append(i.text)
    
for i in discount1:
    discount2.append(i.text)

In [28]:
df1 = pd.DataFrame({'Brand':brands2[:34],'Product Description':product_description2[:34],'Price':price2[:34],'Discount':discount2[:34]})
df1

,Brand,Product Description,Price,Discount
0,PUMA,Glory Sneakers For Men,"₹2,998",80% off
1,aadi,Sneakers For Men,₹399,52% off
2,believe,Sneakers for men(black_6) Sneakers For Men,₹474,44% off
3,Kraasa,Shark-41 Sneakers For Men,₹555,35% off
4,RapidBox,Sneakers For Men,₹640,70% off
5,DUNKASTON,Luxury Fashionable casual sneaker shoes Sneake...,₹449,78% off
6,India hub,Lattest Sneakers Shoe Sneakers For Men,₹429,73% off
7,BRUTON,SM-322 Sneakers For Men,₹341,14% off
8,SPARX,Sneakers For Men,₹892,50% off
9,Zorth,Sneakers For Men,₹498,50% off
10,Mintscope,Stylish Casual Sports Shoe Sneakers For Women ...,₹499,50% off
11,Robbie jones,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,55% off
12,MILESWALKER,Sneakers For Men,₹448,73% off
13,World Wear Footwear,Sneakers For Men,₹599,36% off
14,RapidBox,Combo Pack of 2 Casual shoes Sneakers For Men,₹630,50% off
15,Zorth,"white Casual shoes,Sneakers for men's Sneakers...",₹499,75% off
16,Kreverse,Men White Sneakers Sneakers For Men,₹245,60% off
17,BIRDE,Echor Men's Sneakers Fashion Lightweight Runni...,₹599,66% off
18,Xtoon,Combo Pack of 5 Casual Sneakers With Sneakers ...,₹499,10% off
19,SPARX,Casual Sneakrs For Men Sneakers For Men,₹764,66% off
20,Echor,"Casual , Partywear Sneakers Shoes For Men's An...",₹499,77% off
21,BRUTON,Fashion Outdoor Canvas Casual Light Weight Lac...,₹888,11% off
22,SPARX,Sneakers For Men,₹839,42% off
23,Vellinto,Puma Smash v2 L Perf Puma White-Puma Whi Sneak...,₹749,61% off
24,D-SNEAKERZ,Sneakers For Men,₹384,50% off
25,RODDICK SHOES,Combo Pack of 5 Casual Shoes Sneakers For Men,₹499,63% off
26,HRDK,Sneakers For Men,₹367,45% off
27,PUMA,Sneakers For Women,"₹2,199",60% off
28,SCATCHITE,Girls Stylish Casual Sports Shoe Sneakers For ...,₹398,64% off
29,BIRDE,Casual Sneakers White Shoes For Men Sneakers F...,₹892,56% off
30,KNIGHT WALKERS,Men's Canvas Low Top Sneakers Lace-up Classic ...,₹649,20% off
31,KANEGGYE,Modern & Trendy Collection Combo Pack of 02 Sh...,₹399,57% off
32,Deals4you,Trendy Fashion Combo Pack of 2 Sneakers For Men,₹427,50% off
33,VENDOZ,Sneakers For Men,₹499,52% off

In [31]:
page_3 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[4]')
page_3.click()

In [32]:
brand2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand2)

40

In [33]:
product_description2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(product_description2)

32

In [34]:
price2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price2)

40

In [35]:
discount2 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(discount2)

40

In [36]:
brands3 = []
product_description3 = []
price3 = []
discount3 = []

for i in brand2:
    brands3.append(i.text)
    
for i in product_description2:
    product_description3.append(i.text)
    
for i in price2:
    price3.append(i.text)
    
for i in discount2:
    discount3.append(i.text)

In [37]:
df2 = pd.DataFrame({'Brand':brands3[:32],'Product Description':product_description3[:32],'Price':price3[:32],'Discount':discount3[:32]})
df2

,Brand,Product Description,Price,Discount
0,ASIAN,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹499,37% off
1,PUMA,MAPF1 X-Ray Lite Pro Sneakers For Men,"₹3,599",55% off
2,LE GREEM,Comfortable & Ultra Light Weight Sneaker Sneak...,₹449,55% off
3,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men,₹630,57% off
4,Robbie jones,Sneakers For Men,₹499,50% off
5,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹592,76% off
6,Ktiz,Sneakers For Men,₹499,50% off
7,SPADE CLUB,"New Fashion Outdoor Trendy Lightweight Casual,...",₹665,33% off
8,Zorth,Sneakers Shoes For Men Black Sneakers For Men,₹499,50% off
9,Airland,Sneakers For Women,₹190,61% off
10,WHITE WALKERS,Luxury Branded Fashionable Men's Casual Walkin...,₹599,50% off
11,PREKANZO,Sneakers For Men,₹398,60% off
12,Edoeviv,0001 red Sneakers For Men,₹499,37% off
13,aadi,Tying Fabulous Comfortable Collections Of Comb...,₹549,72% off
14,Kirjak,Sneakers For Men,₹459,54% off
15,Tying,Casual Sneakers Shoes For Men Sneakers For Men,₹749,62% off
16,CLYMB,Blue Synthetic Leather Casual Shoes Sneakers F...,₹699,53% off
17,HOC,Girls Stylish Casual Sports Shoe Sneakers For ...,₹429,66% off
18,Xentex,Combo Pack of 4 Casual Shoes Sneakers For Men,₹494,67% off
19,aadi,Casual Sneakers Shoes For Men And Boys Sneaker...,₹290,41% off
20,VENDOZ,Sneakers For Men,₹498,50% off
21,3SIX5,Sneakers For Women,₹842,57% off
22,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹499,50% off
23,Bonexy,SM-322 Sneakers For Men,₹474,52% off
24,ESSENCE,"Girls & Women Stylish, Comfortable Comfort Foa...",₹399,60% off
25,RapidBox,Combo Pack of 2 Casual Shoes Sneakers For Men,₹630,36% off
26,Robbie jones,CUBIC_1 Sneakers For Men,₹449,55% off
27,SPARX,"Boys & Men Stylish, Comfortable Comfort Foam S...",₹845,15% off
28,OMIKA,Synthetic Leather Casual Partywear Wedding Sne...,₹399,60% off
29,BIRDE,"Multicolor Running Shoes,Gym Shoes,Walking Sho...",₹524,47% off
30,Dizzler,Sneakers For Men,₹495,31% off
31,apash merchandises,Sneakers For Men,₹424,76% off

In [38]:
page_4 = driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[5]')
page_4.click()

In [39]:
brand3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand3)

40

In [40]:
product_description3 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(product_description3)

29

In [41]:
price3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price3)

40

In [42]:
discount3 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(discount3)

39

In [43]:
brands4 = []
product_description4 = []
price4 = []
discount4 = []

for i in brand3:
    brands4.append(i.text)
    
for i in product_description3:
    product_description4.append(i.text)
    
for i in price3:
    price4.append(i.text)
    
for i in discount3:
    discount4.append(i.text)

In [46]:
df3 = pd.DataFrame({'Brand':brands4[:3],'Product Description':product_description4[:3],'Price':price4[:3],'Discount':discount4[:3]})
df3

    Brand    Product Description   Price Discount
0   SPARX       Sneakers For Men  ₹1,117  14% off
1   Zorth  Mesh Sneakers For Men    ₹499  50% off
2  REFOAM       Sneakers For Men  ₹1,449  80% off

In [47]:
final_list = pd.concat([df,df1,df2,df3],axis=0)
final_list

,Brand,Product Description,Price,Discount
0,Magnolia,Sneakers For Men,₹398,60% off
1,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹449,65% off
2,URBANBOX,Sneakers For Men,₹220,77% off
3,Labbin,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹499,50% off
4,Stefano Rads,"Casual , Partywear Sneakers Shoes For Men's An...",₹242,65% off
...,...,...,...,...
30,Dizzler,Sneakers For Men,₹495,31% off
31,apash merchandises,Sneakers For Men,₹424,76% off
0,SPARX,Sneakers For Men,"₹1,117",14% off
1,Zorth,Mesh Sneakers For Men,₹499,50% off
2,REFOAM,Sneakers For Men,"₹1,449",80% off

### Q7: Go to the link - https://www.myntra.com/shoes
#### Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”.
#### And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [50]:
url = "https://www.myntra.com/shoes"
driver.get(url)

In [68]:
price_btn = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_btn

In [69]:
price_btn.click()

In [70]:
color_btn = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_btn

In [71]:
color_btn.click()

In [72]:
brand = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand)

50

In [73]:
product_description = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(product_description)

50

In [96]:
price = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price)

50

In [97]:
brand1 = []
product_description1 = []
price1 = []

for i in brand:
    brand1.append(i.text)
    
for i in product_description:
    product_description1.append(i.text)
    
for i in price:
    price1.append(i.text)

In [98]:
df = pd.DataFrame({'Brand':brand1,'Product Description':product_description1,'Price':price1})
df

,Brand,Product Description,Price
0,Puma,Men Magnify Nitro Running,Rs. 8449Rs. 12999(35% OFF)
1,Puma,Men Running Shoes,Rs. 7149Rs. 12999(45% OFF)
2,Puma,Men Electrify Nitro Running,Rs. 7499Rs. 9999(25% OFF)
3,Saint G,Men Mid-Top Chelsea Boots,Rs. 9810Rs. 10900(10% OFF)
4,Puma,Women Magnify Nitro Shoes,Rs. 7799Rs. 12999(40% OFF)
5,RARE RABBIT,Men Leather Flat Boots,Rs. 7999Rs. 9999(20% OFF)
6,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
7,Calvin Klein,Men Solid Suede Sneakers,Rs. 7999
8,ASICS,Men Colourblocked PU Sneakers,Rs. 9999
9,Bugatti,Men Running Shoes,Rs. 7999Rs. 9999(20% OFF)
10,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 8399Rs. 11999(30% OFF)
11,Saint G,Men Leather Chelsea Boots,Rs. 10710Rs. 11900(10% OFF)
12,DAVINCHI,Men Solid Leather Formal Derbys,Rs. 8990
13,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
14,Saint G,Women Leather Loafers,Rs. 7500Rs. 9500(Rs. 2000 OFF)
15,Geox,Men Leather Flat Boots,Rs. 8399Rs. 11999(30% OFF)
16,RARE RABBIT,Men Textured Leather Loafers,Rs. 7149Rs. 10999(35% OFF)
17,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
18,Saint G,Leather Wedge Heeled Boots with Buckles,Rs. 13410Rs. 14900(10% OFF)
19,Saint G,Suede High-Top Flatform Heeled Boots,Rs. 12150Rs. 13500(10% OFF)
20,Saint G,Embellished Leather Block Heeled Boots,Rs. 9546Rs. 12900(26% OFF)
21,Geox,Women Leather Pumps,Rs. 8999
22,Puma,Women Velocity NITRO Runners,Rs. 7149Rs. 10999(35% OFF)
23,Tommy Hilfiger,Women Hybrid Leather Sneakers,Rs. 7999
24,Bugatti,Men Black Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
25,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
26,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
27,Xtep,Men Running Shoes,Rs. 7699
28,J.FONTINI,Men Black Leather Loafers,Rs. 8490
29,Louis Philippe,Men Leather Formal Slip-Ons,Rs. 8499
30,DAVINCHI,Ustraa black,Rs. 8990
31,DAVINCHI,Men Formal Leather Slip-Ons,Rs. 8990
32,Geox,Men Leather Loafers,Rs. 9999
33,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
34,Geox,Women Solid Leather Pumps,Rs. 7999
35,Geox,Women Solid Leather Pumps,Rs. 10990
36,Pavers England,Men Leather Driving Shoes,Rs. 7499
37,Saint G,Women Leather Heeled Boots,Rs. 10710Rs. 11900(10% OFF)
38,Cole Haan,Women Open Toe Flats,Rs. 11999
39,Geox,Women Solid Leather Ballerinas,Rs. 8999
40,Cole Haan,Women Solid Leather Ballerinas,Rs. 13999
41,DAVINCHI,Men Textured Leather Formal Slip-Ons,Rs. 8990
42,Pavers England,Men Solid Leather Formal Loafers,Rs. 7999
43,Saint G,Leather Block Heeled Boots,Rs. 8550Rs. 9500(Rs. 950 OFF)
44,Pavers England,Men Textured Leather Formal Slip-On Shoes,Rs. 9999
45,Saint G,Leather Kitten Heeled Boots,Rs. 8910Rs. 9900(Rs. 990 OFF)
46,Pavers England,Men Solid Leather Formal Derbys,Rs. 8999
47,Geox,Women Chunky Sneakers,Rs. 9999
48,Saint G,Leather Block Heeled Boots with Bows,Rs. 12510Rs. 13900(10% OFF)
49,Saint G,Suede Party High-Top Block Heeled Boots,Rs. 9450Rs. 10500(10% OFF)

In [99]:
next_btn = driver.find_element_by_xpath('//li[@class="pagination-next"]')
next_btn.click()

In [100]:
brand1 = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand1)

50

In [101]:
product_description1 = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(product_description1)

50

In [102]:
price1 = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price1)

50

In [103]:
brand2 = []
product_description2 = []
price2 = []

for i in brand1:
    brand2.append(i.text)
    
for i in product_description1:
    product_description2.append(i.text)
    
for i in price1:
    price2.append(i.text)

In [104]:
df1 = pd.DataFrame({'Brand':brand2,'Product Description':product_description2,'Price':price2})
df1

,Brand,Product Description,Price
0,Saint G,Suede Party High-Top Block Heeled Boots,Rs. 9450Rs. 10500(10% OFF)
1,Saint G,Leather Platform Heeled Boots,Rs. 9810Rs. 10900(10% OFF)
2,Saint G,Textured Leather Party Kitten Heeled Boots,Rs. 11954Rs. 13900(14% OFF)
3,Heel & Buckle London,Men Solid Leather Formal Loafers,Rs. 11990
4,Saint G,Leather Boots with Buckles,Rs. 8505Rs. 10500(19% OFF)
5,Saint G,Women High-Top Heeled Boots,Rs. 9869Rs. 13900(29% OFF)
6,Saint G,Woman Black Leather Boots,Rs. 11250Rs. 12500(10% OFF)
7,fitflop,Embellished Leather Wedge Sandals,Rs. 7499
8,Saint G,Leather Block Heeled Boots with Buckles,Rs. 9810Rs. 10900(10% OFF)
9,Saint G,Embellished Flatform Boots,Rs. 8505Rs. 10500(19% OFF)
10,Saint G,Leather Block Heeled Boots,Rs. 9810Rs. 10900(Rs. 1090 OFF)
11,Saint G,Women Leather Heeled Boots,Rs. 13410Rs. 14900(10% OFF)
12,Geox,Women Leather High-Top Flat Boots,Rs. 10499Rs. 14999(30% OFF)
13,MANGO,Women Leather Penny Loafers,Rs. 7191Rs. 7990(10% OFF)
14,fitflop,Women Textured Slip-On Sneakers,Rs. 7999
15,Cole Haan,Women Leather Sneakers,Rs. 10999
16,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195
17,Saint G,Women Leather Heeled Boots,Rs. 13050Rs. 14500(10% OFF)
18,Nike,Men BlazerLow '77 Sneakers,Rs. 7195
19,Skechers,Men Balance Anchor Walking,Rs. 8499Rs. 9999(15% OFF)
20,Skechers,Men Go Run Hyper Burst Running,Rs. 7224Rs. 8499(15% OFF)
21,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
22,Hush Puppies,Men Leather Derbys,Rs. 7999
23,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999
24,Hush Puppies,Men Formal Derbys,Rs. 9999
25,ECCO,Helsinki Bike Toe Lace Shoes,Rs. 12999
26,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
27,Saint G,Leather Block Heeled Boots,Rs. 12675Rs. 16900(Rs. 4225 OFF)
28,Bugatti,Men Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
29,Heel & Buckle London,Men Solid Leather Formal Penny Loafers,Rs. 7693Rs. 10990(30% OFF)
30,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 9999
31,Saint G,Women Leather Heeled Boots,Rs. 13674Rs. 15900(14% OFF)
32,Saint G,Women Leather Heeled Boots,Rs. 12905Rs. 14500(11% OFF)
33,Saint G,Women Kitten Heeled Boots,Rs. 7921Rs. 8900(11% OFF)
34,Saint G,Women Leather Heeled Boots,Rs. 12510Rs. 13900(10% OFF)
35,DAVINCHI,Men Solid Leather Formal Loafers,Rs. 8490
36,ECCO,Leather Stiletto Pumps,Rs. 12999
37,ECCO,Women Textured Leather Sneakers,Rs. 13999
38,MANGO,Women Mid Top Chunky Flat Boot,Rs. 7590Rs. 7990(5% OFF)
39,ECCO,Women Ballerinas Flats,Rs. 8999
40,PUMA Motorsport,Unisex Mercedes F1 Sneakers,Rs. 7999Rs. 9999(20% OFF)
41,Puma,Women Eternity NITRO Shoes,Rs. 7799Rs. 12999(40% OFF)
42,Tommy Hilfiger,Men Lightweight Sneakers,Rs. 7999
43,UNDER ARMOUR,Women HOVR Sonic 4 Running,Rs. 8799Rs. 10999(20% OFF)
44,Pavers England,Men Textured Leather Loafers,Rs. 10999
45,J.FONTINI,Men Solid Loafers,Rs. 8990
46,Geox,Women Leather High-Top Flat Boots,Rs. 12599Rs. 17999(30% OFF)
47,Saint G,Suede Block Heeled Boots,Rs. 10350Rs. 11500(10% OFF)
48,Saint G,Striped Suede Flatform Heeled Boots,Rs. 8910Rs. 9900(Rs. 990 OFF)
49,Onitsuka Tiger,Women Perforations Sneakers,Rs. 8999

In [105]:
final_list = pd.concat([df,df1],axis=0)
final_list

,Brand,Product Description,Price
0,Puma,Men Magnify Nitro Running,Rs. 8449Rs. 12999(35% OFF)
1,Puma,Men Running Shoes,Rs. 7149Rs. 12999(45% OFF)
2,Puma,Men Electrify Nitro Running,Rs. 7499Rs. 9999(25% OFF)
3,Saint G,Men Mid-Top Chelsea Boots,Rs. 9810Rs. 10900(10% OFF)
4,Puma,Women Magnify Nitro Shoes,Rs. 7799Rs. 12999(40% OFF)
...,...,...,...
45,J.FONTINI,Men Solid Loafers,Rs. 8990
46,Geox,Women Leather High-Top Flat Boots,Rs. 12599Rs. 17999(30% OFF)
47,Saint G,Suede Block Heeled Boots,Rs. 10350Rs. 11500(10% OFF)
48,Saint G,Striped Suede Flatform Heeled Boots,Rs. 8910Rs. 9900(Rs. 990 OFF)
49,Onitsuka Tiger,Women Perforations Sneakers,Rs. 8999

### Q8: Go to webpage https://www.amazon.in/
#### Enter “Laptop” in the search field and then click the search icon
#### Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
#### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
#### 1. Title
#### 2. Ratings
#### 3. Price

In [2]:
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
url = "https://www.amazon.in/"
driver.get(url)

In [4]:
search_title = driver.find_element_by_id("twotabsearchtextbox")
search_title

In [5]:
search_title.send_keys("Laptop")

In [6]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [7]:
search_btn.click()

In [12]:
corei7 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[11]/div')

In [13]:
corei7.click()

In [14]:
product = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
len(product)

30

In [28]:
rating = driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
len(rating)

29

In [23]:
price = driver.find_elements_by_xpath('//span[@class="a-price"]')
len(price)

28

In [29]:
products = []
ratings = []
prices = []

for i in product:
    products.append(i.text)
    
for i in rating:
    ratings.append(i.text)
    
for i in price:
    prices.append(i.text)

In [30]:
df = pd.DataFrame({'Product':products[:10],'Rating':ratings[:10],'Price':prices[:10]})
df

                                             Product Rating      Price
0  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...           ₹95,490
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...           ₹57,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...           ₹59,990
3  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...           ₹89,990
4  HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...           ₹86,990
5  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...           ₹79,990
6  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...         ₹1,14,990
7  Acer Predator Helios 300 11th Gen Intel Core i...         ₹1,79,990
8  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....           ₹92,490
9  HP Pavilion 14, Intel 11th Gen Core i7 16GB RA...           ₹44,990

In [139]:
driver = webdriver.Chrome("chromedriver.exe")

In [140]:
url = "https://www.amazon.in/"
driver.get(url)

In [141]:
search_title = driver.find_element_by_id("twotabsearchtextbox")
search_title

In [142]:
search_title.send_keys("laptop")

In [143]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [144]:
search_btn.click()

In [146]:
corei9 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[13]/span/a/span')
corei9.click()

In [153]:
product1 = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
len(product)

9

In [154]:
rating1 = driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
len(rating)

18

In [155]:
price1 = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(price)

8

In [156]:
products1 = []
ratings1 = []
prices1 = []

for i in product1:
    products1.append(i.text)
    
for i in rating1:
    ratings1.append(i.text)
    
for i in price1:
    prices1.append(i.text)

In [157]:
df1 = pd.DataFrame({'Product':products1[:8],'Rating':ratings1[:8],'Price':prices1[:8]})
df1

                                             Product Rating     Price
0  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...         1,44,990
1  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...         1,43,990
2  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...         1,39,980
3  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...         2,65,999
4  Dell Precision 5550 || i9 -10885H || 16GB || 1...         2,00,000
5  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...         2,05,990
6  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...         2,25,000
7  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...         2,45,000

In [161]:
final_list = pd.concat([df,df1],axis=0)
final_list.set_index('Rating')

                                                  Product     Price
Rating
        Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...    95,490
        Mi Notebook Horizon Edition 14 Intel Core i7-1...    57,990
        ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    59,990
        Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    89,990
        HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...    86,990
        Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...    79,990
        ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  1,14,990
        Acer Predator Helios 300 11th Gen Intel Core i...  1,79,990
        Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....    92,490
        (Renewed) Dell Latitude E7470 Intel Core i7 6t...    44,990
        ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  1,44,990
        ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  1,43,990
        ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  1,39,980
        Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  2,65,999
        Dell Precision 5550 || i9 -10885H || 16GB || 1...  2,00,000
        Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...  2,05,990
        (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...  2,25,000
        HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...  2,45,000

### Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
#### 1. First get the webpage https://www.ambitionbox.com/
#### 3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
#### 4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
#### 5. Then scrape the data for the first 10 jobs results you get on the above shown page.
#### 6. Finally create a dataframe of the scraped data.

In [31]:
driver = webdriver.Chrome("chromedriver.exe")

In [32]:
url = "https://www.ambitionbox.com/"
driver.get(url)

In [33]:
job_btn = driver.find_element_by_xpath('//a[@class="link jobs"]')

In [34]:
job_btn.click()

In [37]:
search_title = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')

In [38]:
search_title.send_keys("Data Scientist")

In [39]:
search_btn = driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]')

In [40]:
search_btn.click()

In [41]:
job_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')

In [42]:
job_loc.click()

In [43]:
search_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')

In [44]:
search_loc.send_keys("Noida")

In [45]:
select_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')

In [46]:
select_loc.click()

In [48]:
comp_name = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
len(comp_name)

10

In [53]:
days = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
len(days)

20

In [67]:
rating = driver.find_elements_by_xpath('//span[@class="body-small"]')
len(rating)

10

In [68]:
company_name = []
no_days = []
ratings = []

for i in comp_name:
    company_name.append(i.text)
    
for i in days:
    no_days.append(i.text)
    
for i in rating:
    ratings.append(i.text)

In [70]:
no_of_days = []
for x in no_days:
    if 'ago' in x:
        no_of_days.append(x)

In [71]:
df = pd.DataFrame({'Company Name':company_name[:10],'Job was Posted':no_of_days[:10],'Rating':ratings[:10]})
df

                    Company Name Job was Posted Rating
0           Ameriprise Financial       19hr ago    4.0
1                          Paytm         7d ago    3.7
2     Jubilant Foodworks Limited        24d ago    3.9
3                   CHT Sapiense         8d ago    3.7
4                   CHT Sapiense         9d ago    3.7
5                       GI Group        20d ago    4.1
6                       GI Group        20d ago    4.1
7                       GI Group        20d ago    4.1
8  RMS Risk Management Solutions         2d ago    3.5
9                          Paytm        28d ago    3.7

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
#### You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
#### The above task will be, done as shown in the below steps:
#### 1. First get the webpage https://www.ambitionbox.com/
#### 3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
#### 4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
#### 5. Store the data in a dataframe.

In [72]:
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
url = "https://www.ambitionbox.com/"
driver.get(url)

In [4]:
salary_btn = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_btn.click()

In [5]:
search_title = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [6]:
search_title.send_keys("Data Scientist")

In [33]:
comp_name = driver.find_elements_by_xpath('//div[@class="name"]/a')
len(comp_name)

10

In [34]:
total_salary = driver.find_elements_by_xpath('//div[@class="name"]/span')
len(total_salary)

10

In [35]:
avg_salary = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
len(avg_salary)

10

In [36]:
min_salary = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
len(min_salary)

20

In [37]:
max_salary = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
len(max_salary)

20

In [46]:
exp = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
len(exp)

10

In [68]:
company_names = []
total_salary1 = []
avg_salary1 = []
min_salary1 = []
max_salary1 = []
experience = []

for i in comp_name:
    company_names.append(i.text)
    
for i in total_salary:
    total_salary1.append(i.text)
    
for i in avg_salary:
    avg_salary1.append(i.text)
    
for i in range(0,len(min_salary),2):
    min_salary1.append(min_salary[i].text)
    
for i in range(1,len(min_salary),2):
    max_salary1.append(min_salary[i].text)

for i in exp:
    experience.append(i.text.split()[3:])

In [69]:
df = pd.DataFrame({'Company Name':company_names[:10],'No. of Salaries':total_salary1[:10],'Average Salary':avg_salary1[:10],
                  'Minimum Salary':min_salary1[:10],'Maximum Salary':max_salary1[:10],'Experience Required':experience[:10]})
df

,Company Name,No. of Salaries,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,based on 10 salaries,₹ 28.7L,₹ 17.7L,₹ 35.0L,"[3, yrs, exp]"
1,Ab Inbev,based on 22 salaries,₹ 19.5L,₹ 15.0L,₹ 25.0L,"[3-4, yrs, exp]"
2,ZS,based on 14 salaries,₹ 15.8L,₹ 9.8L,₹ 20.0L,"[2, yrs, exp]"
3,Fractal Analytics,based on 72 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L,"[2-4, yrs, exp]"
4,Optum,based on 23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L,"[3-4, yrs, exp]"
5,UnitedHealth,based on 49 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L,"[2-4, yrs, exp]"
6,Tiger Analytics,based on 27 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L,"[3-4, yrs, exp]"
7,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,"[4, yrs, exp]"
8,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,"[4, yrs, exp]"
9,Ericsson,based on 42 salaries,₹ 11.9L,₹ 5.8L,₹ 21.5L,"[3-4, yrs, exp]"